.title-request {
       font-size: 42px; /* Tama침o grande */
    font-weight: bold; /* Negrita */
    color: #92400E; /* Color oscuro */
    font-family: Arial, sans-serif; /* Tipograf칤a */
}
.subtitle-title-request {
       font-size: 28px; /* Tama침o grande */
    font-weight: bold; /* Negrita */
    color: #ca0606; /* Color oscuro */
    font-family: Arial, sans-serif; /* Tipograf칤a */
}

.request-tarjet {
  display: flex;
  flex-direction: column; /* Apila verticalmente */
  gap: 15px; /* Espacio entre elementos hijos */
  /* align-items: center; */ /* Opcional: Centra horizontalmente */
  /* justify-content: center; */ /* Opcional: Centra verticalmente */
  background-color: #FFFFFF;
  padding: 25px;
  width: 750px;
    align-items: center; /* 游녣 esto centra todos los hijos */
      border-radius: 10px; /* Aplica 10px a todas las esquinas */
      border: 3px solid #F3F4F6; /* Grosor, Estilo, Color */

}

.hijo {
    background-color: rgb(213, 166, 105);
}

.background-icon {
  width: 110px;
  height: 110px;
  padding: 40px;
    background-color: #FEF3C7; /* Color de fondo */
  border-radius: 50%;        /* 춰Clave para hacer el c칤rculo! */
  color:#FBBF24;
}

.description {
    width: 500px;
    background-color: aqua;
      /* padding: 80px; */
     font-size: 20px; /* Tama침o grande */
     color: #78350F;

}
.words-strong {
          color: #5e2606; /* Color oscuro */
           font-size: 22px; /* Tama침o grande */
    

}

.pantalla-principal{
      display: flex;
        padding: 80px;
  flex-direction: column; /* Apila verticalmente */
  gap: 50px; /* Espacio entre elementos hijos */
      align-items: center; /* 游녣 esto centra todos los hijos */
  /* align-items: center; */ /* Opcional: Centra horizontalmente */
  /* justify-content: center; */ /* Opcional: Centra verticalmente */
  background-color: #ac9bed;

}
