/* CSS: El diseño */
.foto-perfil {
  background-color: rgb(226, 40, 40); /* Color del marco */
  padding: 35px;           /* Grosor del marco (Espacio Interno) */
  border: 4px solid rgb(14, 53, 229);  /* Una línea fina para ver dónde termina la caja */
  margin-bottom: 20px;     /* Separación con el texto (Espacio Externo) */
  display: inline-block;   /* Para que la caja se ajuste al tamaño de la foto */
}

/* CSS: Aplicando las posiciones */

.contenedor-padre {
  position: relative; /* Es el ANCLA. Los hijos absolutos se guían por esta caja */
  width: 230px;
  border: 1px solid #ccc;
  padding: 20px;
}

.etiqueta-oferta {
  position: absolute; /* Es el REBELDE. Se mueve libremente dentro del padre */
  top: 10px;          /* A 10px del borde superior del padre */
  right: 10px;        /* A 10px del borde derecho del padre */
  background: red;
  color: white;
  padding: 5px;
}

.btn-ayuda {
  position: fixed;   /* El PEGADO. Se pega a la ventana del navegador, no al diseño */
  bottom: 20px;      /* Siempre a 20px del final de la pantalla */
  right: 20px;       /* Siempre a 20px de la derecha */
  padding: 10px 20px;
  background: green;
  color: white;
}

/* El fondo oscuro que cubre todo */
.overlay {
  display: none;        /* Empieza oculto */
  position: fixed;      /* Se queda pegado a la pantalla */
  top: 0;
  left: 0;
  width: 100%;          /* Cubre todo el ancho */
  height: 100%;         /* Cubre todo el alto */
  background-color: rgba(0, 0, 0, 0.7); /* Negro con 70% de transparencia */
  z-index: 1000;        /* Asegura que esté por encima de todo */
}

/* La caja blanca en el centro */
.modal-contenido {
  position: absolute;   /* Se posiciona respecto al overlay */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* El truco maestro para centrar perfecto */
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

/* El botón de cerrar (X) */
.boton-cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #888;
}

.galeria {
  display: flex;             /* Se ponen en fila mágicamente */
  justify-content: space-around; /* Deja el mismo espacio entre cada foto */
  flex-wrap: wrap; /*Permite que los elementos "salten" a la siguiente línea.*/
  background-color: #f0f0f0;
  padding: 20px;
  
}

.foto {
    /* Calculamos: (100% / 3) menos un poquito para los espacios */
  flex: 0 0 calc(30.33% - 20px);
  width: 200px;
  height: 200px;
  background-color: coral;
  border: 2px solid rgb(187, 4, 4);
}

/* Estado Normal (Claro) */
body {
  background-color: white;
  color: black;
  transition: all 0.4s; /* Para que el cambio sea suave y no un golpe */
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
}

/* Estado Oscuro */
body.dark-mode {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #333;
  font-weight: bold;
}