.sidebar {
  width: 200px; /* Ancho fijo del menú */
  background-color: #333;
  height: 100vh; /* Altura total de la pantalla */
  position: fixed; /* Mantiene el menú en su lugar */
}

.sidebar ul {
  list-style-type: none; /* Elimina puntos de la lista */
  padding: 0;
  margin: 0;
}

.sidebar li a {
  display: block; /* Enlace ocupa todo el ancho */
  color: white;
  padding: 15px;
  text-decoration: none; /* Elimina subrayado */
  transition: 0.3s; /* Efecto suave */
}

.sidebar li a:hover {
  background-color: #555; /* Cambio de color al pasar el ratón */
}
/*-------------------------------*/

/* El fondo oscuro que cubre todo */
.overlay {
  display: none;        /* Empieza oculto */
  position: fixed;      /* Se queda pegado a la pantalla */
  top: 0;
  left: 0;
  width: 100%;          /* Cubre todo el ancho */
  height: 100%;         /* Cubre todo el alto */
  background-color: rgba(0, 0, 0, 0.7); /* Negro con 70% de transparencia */
  z-index: 1000;        /* Asegura que esté por encima de todo */
}
 /* display: none;  position: fixed;  top: 0; left: 0;   width: 100%;   height: 100%;    background-color: rgba(0, 0, 0, 0.7)  z-index: 1000;   */

/* La caja blanca en el centro */
.modal-contenido {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* El truco maestro para centrar perfecto */
  background-color: white;

    display: flex;
  flex-direction: column; /* Los pone uno debajo del otro */
  align-items: center;    /* Los centra horizontalmente */
  gap: 5px;             /* Espacio vertical entre cada uno */
  
  padding: 20px;
  border: 2px solid #333;
    width: 470px;
    height: 350px;
    position: relative; /*para que el boton de x hijo se vallam a la derecha*/
      border-radius: 15px; /* Valor aplicado a todas las esquinas */

      /* ESTO ES LO IMPORTANTE */
    height: auto;        /* El alto se ajusta al contenido */
    min-height: 200px;   /* Pero que no sea más pequeño que esto */
}

/* El botón de cerrar (X) */
.boton-cerrar {
position: absolute;
    right: 10px;
    top: 10px;
    
    /* 1. Dimensiones iguales para un círculo perfecto */
    width: 32px;
    height: 32px;
    
    /* 2. El truco del círculo */
    border-radius: 50%;
    
    /* 3. Centrar la X perfectamente */
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #eee; /* Un gris claro */
}

.fondo-boton {
    width: 100%;
    height: 35px;
/* 
    background-color: aqua; */
    /* bg-danger */
     /* background-color: red !important; */
     /* padding: 10px; */
     /* border-radius: 8%; */
}

.icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    /* justify-content: center;
    align-items: center;
    margin-bottom: 15px; */
    background-color: sandybrown;
}

.fondo-descripcion {
    background-color: #17a2b8;
    border-radius: 15px; /* Valor aplicado a todas las esquinas */
    width: 420px;
}

/* --- VARIANTES DE COLOR --- */

/*  -------------------------     Variante Peligro */
.tema-success .icon-circle { background-color: #cfebcf; } /* Fondo negro */
.tema-success #iconoAdvertencia { color: #0bb037; }       /* Icono blanco */

.tema-success .fondo-descripcion { background-color:  #d3efd3; } /* Fondo negro */
.tema-success #descripcion { color:#0bb037; }       /* Icono blanco */

.tema-success .fondo-boton { background-color: #0bb037;  }    /* Fondo azul info */
.tema-success #botonDescripcion { color: #ffffff; } 


/* --- TEMA PELIGRO --- */
.tema-success #titulo {
    color:#0bb037;      /* Rojo sangre para peligro */
}




/*  --------------------------------  Variante Casa / Info */
.tema-error .icon-circle { background-color: #f0d0d2; }    /* Fondo azul info */
.tema-error #iconoAdvertencia { color: #e01b39; }

.tema-error .fondo-descripcion { background-color: #f4dce0; }    /* Fondo azul info */
.tema-error #descripcion { color: #bd0c21;  }

.tema-error .fondo-boton { background-color: #bd0c21; }    /* Fondo azul info */
.tema-error #botonDescripcion { color: #ffffff; }

.tema-error #titulo {
    color: #010001;
}

/* --- GRACIAS POR APLICAR --- */

.tema-advertencia .icon-circle { background-color:  #ead7c6; }    /* Fondo azul info */
.tema-advertencia #iconoAdvertencia { color:#985112; }

.tema-advertencia .fondo-descripcion { background-color: #ead7c6; }    /* Fondo azul info */
.tema-advertencia #descripcion { color: #985112; }

.tema-advertencia .fondo-boton { background-color: #bd0c21; }    /* Fondo azul info */
.tema-advertencia #botonDescripcion { color: #ffffff; }
.tema-advertencia #titulo {
    color:#c77b38;;
}

/* --- GRACIAS POR APLICAR 2 --- */





/* --- LIMITE DE INTENTOS ALCANZADOS--- */
.tema-espera .fondo-boton { background-color: #a8a4a4; }    /* Fondo azul info */
.tema-espera #botonDescripcion { color: #ffffff; }


/* --- TEMA PELIGRO --- */
/* 

/*  --------------------------------  Gracias por aplicar / Info */



/*  --------------------------------  Variante Islam / Info */






