.sidebar {
  width: 200px; /* Ancho fijo del menú */
  background-color: #333;
  height: 100vh; /* Altura total de la pantalla */
  position: fixed; /* Mantiene el menú en su lugar */
}

.sidebar ul {
  list-style-type: none; /* Elimina puntos de la lista */
  padding: 0;
  margin: 0;
}

.sidebar li a {
  display: block; /* Enlace ocupa todo el ancho */
  color: white;
  padding: 15px;
  text-decoration: none; /* Elimina subrayado */
  transition: 0.3s; /* Efecto suave */
}

.sidebar li a:hover {
  background-color: #555; /* Cambio de color al pasar el ratón */
}
/*-------------------------------*/

/* El fondo oscuro que cubre todo */
.overlay {
  display: none;        /* Empieza oculto */
  position: fixed;      /* Se queda pegado a la pantalla */
  top: 0;
  left: 0;
  width: 100%;          /* Cubre todo el ancho */
  height: 100%;         /* Cubre todo el alto */
  background-color: rgba(0, 0, 0, 0.7); /* Negro con 70% de transparencia */
  z-index: 1000;        /* Asegura que esté por encima de todo */
}

/* La caja blanca en el centro */
.modal-contenido {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* El truco maestro para centrar perfecto */
  background-color: white;

    display: flex;
  flex-direction: column; /* Los pone uno debajo del otro */
  align-items: center;    /* Los centra horizontalmente */
  gap: 5px;             /* Espacio vertical entre cada uno */
  
  padding: 20px;
  border: 2px solid #333;
    width: 470px;
    height: 350px;
    position: relative; /*para que el boton de x hijo se vallam a la derecha*/
}

/* El botón de cerrar (X) */
.boton-cerrar {
  position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
}

.mis-botones {
    background-color: aqua;
    display: flex; /*alinear los botones horizontalemnte*/
    margin-left: 700px;
    margin-top: 200px;
      transform: translate(-50%, -50%); /* El truco maestro para centrar perfecto */
}

.icon-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    /* justify-content: center;
    align-items: center;
    margin-bottom: 15px; */
    background-color: sandybrown;
}

.fondo-descripcion {
    background-color: #17a2b8;
}

/* --- VARIANTES DE COLOR --- */

/* Variante Peligro */
.tema-peligro .icon-circle { background-color: #000000; } /* Fondo negro */
.tema-peligro #iconoAdvertencia { color: #df0f0f; }       /* Icono blanco */

.tema-peligro .fondo-descripcion { background-color: #0f1130; } /* Fondo negro */
.tema-peligro #descripcion { color: #de1058; }       /* Icono blanco */

/* Variante Casa / Info */
.tema-info .icon-circle { background-color: #17a2b8; }    /* Fondo azul info */
.tema-info #iconoAdvertencia { color: #ffffff; }

.tema-info .fondo-descripcion { background-color: #17a2b8; }    /* Fondo azul info */
.tema-info #descripcion { color: #0055ff; }


.tema-islam .icon-circle { background-color: #74f36d; }    /* Fondo azul info */
.tema-islam #iconoAdvertencia { color: #00d65d; }

.tema-islam .fondo-descripcion { background-color: #1ee38e; }    /* Fondo azul info */
.tema-islam #descripcion { color: #0055ff; }



/* Variante Religiones (puedes personalizarlas) */
.tema-religion .icon-circle { background-color: #d2b48c; } /* Color tierra/arena */
.tema-religion #iconoAdvertencia { color: #2e7d32; }       /* Verde */

.fa-restroom.icon-circle { background-color: #d2b48c; } 
.fa-restroom #iconoAdvertencia { color: #2e7d32; }       /* Verde */

.tema-success .icon-circle { background-color: #2ecd48; } /* Fondo negro */
.tema-success #iconoAdvertencia { color: #ffffff; }       /* Icono blanco */

/* .descripcion */

.tema-descripcion .fondo-descripcion { background-color: #d3ffda; } /* Fondo negro */
.tema-descripcion #descripcion { color: #00ff15; }       /* Icono blanco */

